.span2
  %ul.nav.nav-list
    %li.nav-header
      Venues
    %li{ "ng-repeat" => "line in lines | filter: { name: query } | filter:isPresent" }
      %a{ href: '#', "ng-click" => "lineMap.panTo(line.marker.getPosition()); openLineInfo(line);" }
        {{line.name}} ({{activePeople(line)}})

.span10
  .page-header
    %h1 Line Up!
  %div{ "ng-repeat" => "line in lines", "ui-map-marker" => "myMarkers[$index]", "ui-event" => "{'map-click': 'openLineInfo(line)'}" }

  %div.map-overlay{ "ui-map-info-window" => "lineInfoWindow" }
    %h3 Venue Infos
    %label Name: 
    %input{ "ng-model" => "currentName", type: "text" }
    %br
    %label Address:
    %input{ "ng-model" => "currentAddress", type: "text" }
    %br
    %label In line since:
    {{currentTime | date:'yyyy-MM-dd HH:mm:ss Z'}}
    %br
    %br
    %a{ href: '#', 'ng-click' => "setLine($event, currentLine, currentName, currentAddress)"}
      Save
    %a{ href: '#', 'ng-click' => "enqueue($event, currentLine)" }
      Enqueue
    %a{ href: '#', 'ng-click' => "dequeue($event, currentLine)" }
      Dequeue
  %div#map_canvas.map{ "ui-map" => "lineMap", "ui-event" => "{'map-click': 'addLine($event)'}", "ui-options" => "mapOptions" }

